/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2017, 7:45:27 PM
    Author     : Coulibaly Falla
*/

.settingLabels, uneditableField{
    -fx-font-size:14px;
    -fx-font-family: "Tahoma";
}

.uneditableField, #uneditable-TextArea .scroll-pane .content{
    -fx-background-color: #D7D7D7;
}

.section-header{
    -fx-font-size: 25px; 
    -fx-font-family: "Trebuchet MS";
    -fx-font-style: oblique;
    -fx-background-color: linear-gradient(#FAFAFA, #E7E7E7);
}

#spriteExplorerContainer{
    -fx-border-color: #D7D7D7;
    -fx-border-radius:5px;
}

